name: Node.js CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test-coverage:
    runs-on: ubuntu-latest

    # Spins up a local MongoDB for the test suite
    services:
      mongodb:
        image: mongo:6
        ports:
          - 27017:27017

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test:coverage
        env:
          # --- Secrets (From GitHub Settings > Secrets) ---
          ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
          REFRESH_SECRET: ${{ secrets.REFRESH_SECRET }}
          
          # this should always be false until we git gud lulz
          USE_PROD: 'false'
          
          # db uris, server chooses which to use based on USE_PROD
          MONGO_TEST: ${{ secrets.MONGO_TEST }}
          MONGO_PROD: ${{ secrets.MONGO_PROD }}
                    
          # specifies a domain; localhost:3000 is used instead if USE_PROD is false
          PROD_URL: 'sixxxseevveeeeeennnnnnn'
          
          # Environment helper
          NODE_ENV: test
      
      - name: Upload Coverage Artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/
          retention-days: 7